@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.recipe-card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recipe-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.toggle-button {
    background-color: #4da1ab;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #fa709a;
}

.recipe-details {
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.recipe-ingredients {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.recipe-ingredients li {
    margin-bottom: 5px;
    text-align: left;
    word-wrap: break-word; /* Ensure long words break to the next line */
}
